# MCSD 6227 Master Project 2

Name: Tan Boon Chu

Matrics No.: MCS211006

Project: EDA and Recommender System for Steam Online Gaming Platform

## Data Import and Checking

In [46]:
# Import PyDrive and associated libraries
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Other libraries
import pandas as pd
import numpy as np

# Authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [47]:
# Download a file based on its file ID.
file_id = '1SdwjxbJ6GG4V2P6OiUzUEJRIYDpRsxYE'
downloaded = drive.CreateFile({'id': file_id})

# Save file in Colab memory
downloaded.GetContentFile('steam_clean_data.csv')

In [48]:
# Read Data file
df = pd.read_csv('steam_clean_data.csv')
df = pd.DataFrame(df)

# print out number of rows and columns
print('Rows:', df.shape[0])
print('Columns:', df.shape[1])

# View first 5 rows
df.head()

Rows: 28375
Columns: 16

,appid,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download
0,1,Counter-Strike,Valve,124534,3339,"10,000,000 .. 20,000,000",17612.0,317.0,9.99,"English, French, German, Italian, Spanish - Sp...",Action,Play the world's number 1 online action game. ...,121195,Paid,Yes,20000000
1,2,Team Fortress Classic,Valve,3318,633,"5,000,000 .. 10,000,000",277.0,62.0,4.99,"English, French, German, Italian, Spanish - Sp...",Action,One of the most popular online action games of...,2685,Paid,Yes,10000000
2,3,Day of Defeat,Valve,3416,398,"5,000,000 .. 10,000,000",187.0,34.0,4.99,"English, French, German, Italian, Spanish - Spain",Action,Enlist in an intense brand of Axis vs. Allied ...,3018,Paid,Yes,10000000
3,4,Deathmatch Classic,Valve,1273,267,"5,000,000 .. 10,000,000",258.0,184.0,4.99,"English, French, German, Italian, Spanish - Sp...",Action,Enjoy fast-paced multiplayer gaming with Death...,1006,Paid,Yes,10000000
4,5,Half-Life: Opposing Force,Gearbox Software,5250,288,"5,000,000 .. 10,000,000",624.0,415.0,4.99,"English, French, German, Korean",Action,Return to the Black Mesa Research Facility as ...,4962,Paid,Yes,10000000

In [49]:
df.dtypes

appid                     int64
name                     object
developer                object
positive                  int64
negative                  int64
owners                   object
average_playtime        float64
median_playtime         float64
price                   float64
languages                object
genre                    object
detailed_description     object
Ratings                   int64
Is_Free                  object
English                  object
download                  int64
dtype: object

In [50]:
df.isnull().sum()

appid                   0
name                    0
developer               0
positive                0
negative                0
owners                  0
average_playtime        0
median_playtime         0
price                   0
languages               0
genre                   0
detailed_description    0
Ratings                 0
Is_Free                 0
English                 0
download                0
dtype: int64

In [51]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [appid, name, developer, positive, negative, owners, average_playtime, median_playtime, price, languages, genre, detailed_description, Ratings, Is_Free, English, download]
Index: []

In [52]:
df.describe()

,appid,positive,negative,average_playtime,median_playtime,price,Ratings,download
count,28375.000000,2.837500e+04,28375.000000,28375.000000,28375.000000,28375.000000,2.837500e+04,2.837500e+04
mean,60143.055189,8.748495e+02,186.707419,137.472634,135.571736,7.652513,6.881421e+02,1.714122e+05
std,24772.753533,1.831796e+04,4153.111135,1780.315617,2299.763575,11.255978,1.538953e+04,1.733554e+06
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,-7.738000e+03,2.000000e+04
25%,40698.500000,6.000000e+00,2.000000,0.000000,0.000000,1.990000,1.000000e+00,2.000000e+04
50%,60433.000000,2.200000e+01,8.000000,0.000000,0.000000,4.990000,1.100000e+01,2.000000e+04
75%,80137.000000,1.130000e+02,38.000000,0.000000,0.000000,9.990000,6.400000e+01,5.000000e+04
max,106946.000000,2.644404e+06,487076.000000,190625.000000,190625.000000,595.990000,2.242091e+06,2.000000e+08

Reduce the size of dataset due to hardware limitation

In [53]:
df1 = sorted(df.download, reverse=True)

In [54]:
# number of download at 5000th row
df1[15000]

50000

Backup Data

In [55]:
df2 = df

In [56]:
df = df.loc[(df['download'] >= 50000)].copy()

In [57]:
df.reset_index(inplace=True)

In [58]:
print('Rows:', df.shape[0])
print('Columns:', df.shape[1])
df.head()

Rows: 8524
Columns: 17

,index,appid,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download
0,0,1,Counter-Strike,Valve,124534,3339,"10,000,000 .. 20,000,000",17612.0,317.0,9.99,"English, French, German, Italian, Spanish - Sp...",Action,Play the world's number 1 online action game. ...,121195,Paid,Yes,20000000
1,1,2,Team Fortress Classic,Valve,3318,633,"5,000,000 .. 10,000,000",277.0,62.0,4.99,"English, French, German, Italian, Spanish - Sp...",Action,One of the most popular online action games of...,2685,Paid,Yes,10000000
2,2,3,Day of Defeat,Valve,3416,398,"5,000,000 .. 10,000,000",187.0,34.0,4.99,"English, French, German, Italian, Spanish - Spain",Action,Enlist in an intense brand of Axis vs. Allied ...,3018,Paid,Yes,10000000
3,3,4,Deathmatch Classic,Valve,1273,267,"5,000,000 .. 10,000,000",258.0,184.0,4.99,"English, French, German, Italian, Spanish - Sp...",Action,Enjoy fast-paced multiplayer gaming with Death...,1006,Paid,Yes,10000000
4,4,5,Half-Life: Opposing Force,Gearbox Software,5250,288,"5,000,000 .. 10,000,000",624.0,415.0,4.99,"English, French, German, Korean",Action,Return to the Black Mesa Research Facility as ...,4962,Paid,Yes,10000000

In [59]:
df.drop(columns=['index', 'appid'], inplace= True)

Backup Data

In [60]:
df3 = df

## TF-IDF Text Vectorization and Transformation

Text cleaning

In [61]:
df['detailed_description'] = [i.replace('\n', ' ') for i in df['detailed_description']]

In [62]:
# Remove html tags, new line, and carriage return in description
import re
def remove_tag(html_text):
  re_html = re.compile(r'<[^>]+>|\r|\n|\t|http\S+')
  return re_html.sub(' ',html_text)

In [63]:
df['detailed_description'] = df['detailed_description'].apply(remove_tag)

In [64]:
df['detailed_description'] = [i.replace("'", '') for i in df['detailed_description']]

In [65]:
df['detailed_description'] = [i.replace(",", '') for i in df['detailed_description']]

In [66]:
import string 
df['detailed_description'] = [i.lower().translate(str.maketrans(string.punctuation, ' '*len(string.punctuation))) for i in df['detailed_description']]

In [67]:
df['detailed_description'] = [i.replace("", ' ') for i in df['detailed_description']]

In [68]:
df.detailed_description

0       play the worlds number 1 online action game  e...
1       one of the most popular online action games of...
2       enlist in an intense brand of axis vs  allied ...
3       enjoy fast paced multiplayer gaming with death...
4       return to the black mesa research facility as ...
                              ...
8519    blockade classic       the game which has beco...
8520       choose your hero  begin your journey with  ...
8521      waking up naked in a grotesque slaughterhous...
8522        killstreak tv  is a fast paced free for al...
8523     support us        about the game    sin slaye...
Name: detailed_description, Length: 8524, dtype: object

In [ ]:
df['detailed_description'].iloc[8519]

'blockade classic       the game which has become a legend for millions of players is back  dynamic cubic world with the ability to change the environment  in the arsenal you will find many prototypes of modern weapons which will give you unlimited possibilities for choosing the methods of destroying the enemy  a large number of cool game modes in which you can shoot destroy build your own base be the last of the survivors in front of a horde of zombies  upgrade your weapon customize your character increase your in game level prove your superiority by entering your name in the top 100 rating of players from around the world  in this game everyone can find something to their liking  a huge variety of maps created for you by the developers as well as the community  in some game modes on one battlefield up to 4 teams can participate simultaneously  clan battles in which there is only one goal   to become a champion '

In [24]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [69]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [70]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()

In [71]:
def lemmatize_text(text):
    return [lemmatizer.lemmatize(word, 'v') for word in w_tokenizer.tokenize(text)]

In [72]:
df['detailed_description'] = df['detailed_description'].apply(lemmatize_text)

In [73]:
df['detailed_description']

0       [play, the, worlds, number, 1, online, action,...
1       [one, of, the, most, popular, online, action, ...
2       [enlist, in, an, intense, brand, of, axis, vs,...
3       [enjoy, fast, pace, multiplayer, game, with, d...
4       [return, to, the, black, mesa, research, facil...
                              ...
8519    [blockade, classic, the, game, which, have, be...
8520    [choose, your, hero, begin, your, journey, wit...
8521    [wake, up, naked, in, a, grotesque, slaughterh...
8522    [killstreak, tv, be, a, fast, pace, free, for,...
8523    [support, us, about, the, game, sin, slayers, ...
Name: detailed_description, Length: 8524, dtype: object

In [74]:
df.detailed_description = df.detailed_description.str.join(' ')

In [75]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df['detailed_description'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(8524, 47353)

calculating the dot product will directly give us the cosine similarity score. Therefore, sklearn's linear_kernel() instead of cosine_similarities() since it is faster.

In [76]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [77]:
#Construct a reverse map of indices and game titles
indices = pd.Series(df.index, index=df['name'])

Genre-Based

In [78]:
df['feature'] = df['genre'] + ' ' + df ['name'] + ' ' + df['developer']

In [79]:
df['feature'] = [i.lower().translate(str.maketrans('', '', string.punctuation)) for i in df['feature']]

In [80]:
df['feature'] = [i.lower().translate(str.maketrans('', '', string.punctuation)) for i in df['feature']]

In [81]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['feature'])

In [82]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

## Cosine Similarities

In [83]:
# Cosine Similarities Function
def get_recommendations(name, cosine_sim=cosine_sim):
    # index of the game 
    idx = indices[name]
    
    # similarity scores 
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar game
    sim_scores = sim_scores[1:11]
    print(sim_scores)
    # Get the recommended game indices
    game_indices = [i[0] for i in sim_scores]
    
    # Return the top 10 most similar games
    return df.loc[game_indices]

In [84]:
get_recommendations('Dota 2')

[(1673, 0.22455487926581133), (7567, 0.20045314253959892), (5959, 0.19935081446334316), (712, 0.18671824928610312), (5383, 0.1860029256709196), (6307, 0.18295835520302983), (2004, 0.18082353297510473), (4405, 0.18053668907755824), (5989, 0.17964060565772252), (4032, 0.1753513169294072)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
1673,Heroes of Havoc: Idle Adventures,Kiz Studios,76,114,"50,000 .. 100,000",0.0,0.0,0.00,"English, French, Italian, German, Spanish - Sp...","Free to Play, RPG",victory be only a tap away now be your time g...,-38,Free,Yes,100000,free to play rpg heroes of havoc idle adventur...
7567,Heroes of Hammerwatch,Crackshell,1401,356,"100,000 .. 200,000",45.0,45.0,11.99,"English, Simplified Chinese, Traditional Chinese","Action, Indie, RPG",heroes of hammerwatch be a rogue lite action a...,1045,Paid,Yes,200000,action indie rpg heroes of hammerwatch crackshell
5959,Shop Heroes,"Cloudcade, Inc.",1978,868,"500,000 .. 1,000,000",1543.0,2207.0,0.00,"English, French, Italian, German, Spanish - Sp...","Casual, Free to Play, Massively Multiplayer, R...",craft legendary items gear up your heroes for ...,1110,Free,Yes,1000000,casual free to play massively multiplayer rpg ...
712,Might & Magic: Clash of Heroes,Capybara Games,1293,157,"200,000 .. 500,000",1595.0,1595.0,9.99,"English, French, German, Italian, Spanish - Sp...","RPG, Strategy",might amp magic clash of heroes take place 40 ...,1136,Paid,Yes,500000,rpg strategy might magic clash of heroes capy...
5383,Guards,Battlecruiser Games,333,39,"20,000 .. 50,000",0.0,0.0,4.99,"English, German, Russian","Adventure, Indie, Strategy",play by the 4 heroes team defend against the h...,294,Paid,Yes,50000,adventure indie strategy guards battlecruiser ...
6307,Heroes Evolved,Net Dragon,351,294,"100,000 .. 200,000",2021.0,2021.0,0.00,"English, French, German, Russian","Action, Casual, Free to Play, Massively Multip...",feature update about the game whats heroes evo...,57,Free,Yes,200000,action casual free to play massively multiplay...
2004,Lost Saga NA,IO Entertainment,415,281,"200,000 .. 500,000",27.0,53.0,0.00,English,"Action, Casual, Free to Play",part fighter part brawler and make from pure a...,134,Free,Yes,500000,action casual free to play lost saga na io ent...
4405,Battleborn,Gearbox Software,5692,3494,"500,000 .. 1,000,000",652.0,752.0,0.00,"English, French, Italian, German, Spanish - Sp...",Action,play for free now the battleborn free trial gr...,2198,Free,Yes,1000000,action battleborn gearbox software
5989,Flat Heroes,Parallel Circles,282,28,"20,000 .. 50,000",0.0,0.0,7.99,"English, French, Italian, German, Spanish - Sp...","Action, Indie",when be the last time you felt like a hero fla...,254,Paid,Yes,50000,action indie flat heroes parallel circles
4032,Tap Heroes,VaragtP,887,294,"200,000 .. 500,000",270.0,220.0,0.74,English,"Action, Adventure, Casual, Indie, RPG",welcome to the first puppet show rpg battle to...,593,Paid,Yes,500000,action adventure casual indie rpg tap heroes v...

In [85]:
df['detailed_description'].iloc[5383]

'play by the 4 heroes team defend against the hordes of monsters plan your move improve your abilities defeat all the enemies on each level and join the deadly fight with boss feature an original turn base battle system eight heroes with unique abilities and battle techique  lot of additional skills a variety of magical items an unlimited choice of game tactics additional difficulty level which will become a real challenge even for the most experience strategist gameplay the main feature of the game be a unique turn base battle system you command the team of 4 heroes 3 of which be fight on the front line while the 4th be recover health behind the back of his team mat to make a move you need to change position of any two heroes if the hero move from the back line to the front he use superattack for example the knight be thrill the land stun all the enemies on the line while the huntress be charge a bow with energy simultaneously fire arrows in all the enemies'

In [86]:
get_recommendations('Counter-Strike: Global Offensive').head(2)

[(4134, 0.26113337191536884), (8154, 0.2035696442423604), (10, 0.19683762364225035), (7, 0.18707736517029863), (20, 0.184686304845677), (2134, 0.1819208037360571), (6125, 0.16763178730593334), (7563, 0.16662630914212204), (3585, 0.1638449639849139), (5744, 0.16116501634163977)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
4134,DARIUSBURST Chronicle Saviours,Pyramid,375,65,"20,000 .. 50,000",31.0,31.0,49.99,"English, Japanese, French, Italian, German, Sp...",Action,warn dariusburst chronicle saviours be approac...,310,Paid,Yes,50000,action dariusburst chronicle saviours pyramid
8154,Cereal Soup,Wild Arts LLC,218,239,"50,000 .. 100,000",0.0,0.0,0.00,English,"Adventure, Free to Play, Massively Multiplayer...",cereal soup be an mmo style animal roleplay ga...,-21,Free,Yes,100000,adventure free to play massively multiplayer r...

In [87]:
get_recommendations('Unturned').head(2)

[(3609, 0.18812175638499976), (6696, 0.16546690218998075), (7809, 0.16291161051122138), (1428, 0.15267046654695063), (6368, 0.1522763210757263), (1677, 0.15109649056612065), (804, 0.15069594163123678), (2044, 0.14841537851072234), (7793, 0.1448926224220944), (7453, 0.14001141954061178)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
3609,Romero's Aftermath,Free Reign Entertainment,5668,6073,"2,000,000 .. 5,000,000",188.0,72.0,0.00,"English, Russian","Violent, Action, Free to Play, Indie, Massivel...",aftermath end of service notice dear players w...,-405,Free,Yes,5000000,violent action free to play indie massively mu...
6696,Stormworks: Build and Rescue,Sunfire Software,1478,171,"50,000 .. 100,000",0.0,0.0,19.99,English,"Simulation, Early Access",join a world where you design create and pilot...,1307,Paid,Yes,100000,simulation early access stormworks build and r...

In [88]:
get_recommendations("PLAYERUNKNOWN'S BATTLEGROUNDS").head(2)

[(8292, 0.4398307455197657), (8472, 0.391565138723687), (8159, 0.2659653749314947), (7463, 0.25329089424614715), (8386, 0.23176439922435532), (8113, 0.20293823997491447), (5001, 0.1941799481358312), (5091, 0.19326149565592848), (8275, 0.1868330760654841), (8294, 0.18322104518816834)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
8292,PUGNite,OfficialAndy,72,54,"20,000 .. 50,000",0.0,0.0,0.99,English,"Action, Adventure, Casual, Indie",the battle royale you all have be wait for pug...,18,Paid,Yes,50000,action adventure casual indie pugnite official...
8472,Pixel Battle Royale,FreezeNova,164,137,"50,000 .. 100,000",0.0,0.0,0.00,English,"Action, Free to Play, Indie",pixel battle royale be a fantastic battle roya...,27,Free,Yes,100000,action free to play indie pixel battle royale ...

In [89]:
get_recommendations('Warframe').head(2)

[(1409, 0.37440097413078105), (1410, 0.19719443977775492), (7897, 0.17502563077259345), (5652, 0.14600484030385308), (5739, 0.14474879265459972), (1277, 0.11865554252111976), (7645, 0.11582325964760253), (2070, 0.1124869584445276), (5234, 0.11140477659361485), (8090, 0.11105270854627719)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
1409,Prime World,Nival,1954,1378,"500,000 .. 1,000,000",28.0,33.0,0.00,"Russian, English, German, Turkish","Action, Free to Play, Massively Multiplayer, RPG",prime world be a free online game in rpg moba ...,576,Free,Yes,1000000,action free to play massively multiplayer rpg ...
1410,Prime World: Defenders,Nival,673,213,"100,000 .. 200,000",739.0,739.0,9.99,"English, Russian, French, German","Casual, Indie, RPG, Strategy",the second part of your beloved game available...,460,Paid,Yes,200000,casual indie rpg strategy prime world defender...

In [90]:
df['detailed_description'].iloc[8292]

'the battle royale you all have be wait for pugnite be a mini battle royale game where you compete against players your task be to choose one character and start play feature gun items gameplay battle royale'

In [91]:
df.loc[df['name'] == 'Warframe',['detailed_description']].values[0]

array(['just update band together to save the vallis with abilities power by her shield hildryn be always ready to jump back into the fight take control of her devastate abilities as you work together with the community to solve operation bury debts melee change phase one phase 1 of the much anticipate melee revamp be here with these change youll experience more fluid combat and a smoother faster bolder system to harness as you slash your way through the origin system phase 1 include uninterrupted combat with no need for lock into melee mode combo resume aim grind slam and more tenno reinforcements become the deceptively sentient warrior with the illusive limbo limina skin customize your ride with new k drive modular part and give your operator a fresh look with one of three new curly hairstyles prime access get prime access now and make the newest prime yours instantly for prime access bundle options click here prime access be a rotate program that include the latest prime warframes and prime gear in bundle of discount platinum and other exclusive items prime access offer instant access to the latest prime warframes and prime gear without require the build time for more prime access information click here about the game choose your warframe with more than 30 warframes each fully customizable with their own unique abilities you can create the perfect warframe for you assemble your arsenal katanas crossbows flamethrowers expand your arsenal with more than 300 diverse weapons then modify each one to match your playstyle experience fast pace combat slice and dice through hordes of enemies or go in gun blaze or sneak your way in the choice be yours explore open worlds explore discover fight and fly in massive open landscape within warframe fluid parkour movement seamlessly leap slide and glide through capital ship and underground compound with a robust movement system a solar system in ruin in the far future world of warframe grotesque clone and capitalist machine dominate our solar system fight back against greed and corruption as you explore 18 worlds fill with techno organic horrors squad up you dont have to work alone invite three friends or fight alongside the 38 million strong in our tenno community ninjas play free warframe be entirely free to play with no barrier to entry theres nothing to stop you and your friends from join our world welcome to the origin system tenno'],
      dtype=object)

Genre Based

In [92]:
def feature_rec(name, cosine_sim=cosine_sim2):
    idx = indices[name]
    
    sim_scores = list(enumerate(cosine_sim2[idx]))
    
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    sim_scores = sim_scores[1:11]
    print(sim_scores)
    game_indices = [i[0] for i in sim_scores]
    
    return df.loc[game_indices]

In [93]:
feature_rec('Dota 2')

[(19, 0.6666666666666669), (3161, 0.6666666666666669), (3482, 0.6172133998483676), (5254, 0.6123724356957946), (1615, 0.5773502691896258), (2711, 0.5773502691896258), (2912, 0.5773502691896258), (3452, 0.5773502691896258), (4766, 0.5773502691896258), (6694, 0.5773502691896258)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
19,Team Fortress 2,Valve,515879,34036,"20,000,000 .. 50,000,000",8495.0,623.0,0.0,"English, Danish, Dutch, Finnish, French, Germa...","Action, Free to Play",the jungle inferno update play the all new jun...,481843,Free,Yes,50000000,action free to play team fortress 2 valve
3161,Gigantic,Motiga Inc.,5065,1904,"2,000,000 .. 5,000,000",140.0,50.0,0.0,"English, French, German","Action, Free to Play, Strategy",new update about the game,3161,Free,Yes,5000000,action free to play strategy gigantic motiga inc
3482,CroNix,MAGICS,209,244,"200,000 .. 500,000",15.0,16.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Casual, Free to Play, Strategy",join the battlefield of a post apocalypse worl...,-35,Free,Yes,500000,action casual free to play strategy cronix magics
5254,The Lab,Valve,2926,145,"500,000 .. 1,000,000",95.0,127.0,0.0,"English, French, German, Czech, Finnish, Hunga...",Free to Play,set in a pocket universe of aperture science t...,2781,Free,Yes,1000000,free to play the lab valve
1615,Toribash,Nabi Studios,11143,1563,"2,000,000 .. 5,000,000",130.0,42.0,0.0,"English, French, Portuguese, Russian, Spanish ...","Action, Free to Play, Indie, Strategy",quot just when ragdoll be become an irritant f...,9580,Free,Yes,5000000,action free to play indie strategy toribash na...
2711,Call to Arms,Digitalmindsoft,5787,2144,"500,000 .. 1,000,000",2550.0,728.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Free to Play, Indie, Simulation, Strategy",just update enjoy the latest and massive updat...,3643,Free,Yes,1000000,action free to play indie simulation strategy ...
2912,Boid,Mokus,536,132,"200,000 .. 500,000",5.0,8.0,0.0,"English, Ukrainian","Action, Casual, Free to Play, Indie, Strategy",boid be real time strategy at its most primal ...,404,Free,Yes,500000,action casual free to play indie strategy boid...
3452,Games of Glory,Lightbulb Crew,328,254,"200,000 .. 500,000",74.0,109.0,0.0,"English, French, German, Portuguese - Brazil","Action, Free to Play, Strategy",fight alongside your friends on pc and on ps4 ...,74,Free,Yes,500000,action free to play strategy games of glory li...
4766,CLASH,Ultima Games,87,120,"100,000 .. 200,000",226.0,272.0,0.0,English,"Action, Free to Play, Indie, Strategy",earth be in the grip of a bitter cold war nucl...,-33,Free,Yes,200000,action free to play indie strategy clash ultim...
6694,Nick,Firstborn Games,40,11,"50,000 .. 100,000",0.0,0.0,0.0,English,"Action, Free to Play, Indie, Strategy",time to kick some christmass nick be a free vr...,29,Free,Yes,100000,action free to play indie strategy nick firstb...

In [94]:
feature_rec('Counter-Strike: Global Offensive').head(2)

[(0, 0.5477225575051663), (19, 0.5163977794943223), (22, 0.5163977794943223), (10, 0.4743416490252569), (5254, 0.4743416490252569), (1115, 0.4472135954999579), (5961, 0.43412157106222965), (7, 0.4242640687119285), (3360, 0.4242640687119285), (8522, 0.4242640687119285)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
0,Counter-Strike,Valve,124534,3339,"10,000,000 .. 20,000,000",17612.0,317.0,9.99,"English, French, German, Italian, Spanish - Sp...",Action,play the worlds number 1 online action game en...,121195,Paid,Yes,20000000,action counterstrike valve
19,Team Fortress 2,Valve,515879,34036,"20,000,000 .. 50,000,000",8495.0,623.0,0.00,"English, Danish, Dutch, Finnish, French, Germa...","Action, Free to Play",the jungle inferno update play the all new jun...,481843,Free,Yes,50000000,action free to play team fortress 2 valve

In [95]:
feature_rec('Unturned').head(2)

[(5471, 0.7378647873726218), (8129, 0.7378647873726218), (6504, 0.6708203932499369), (8383, 0.632455532033676), (3048, 0.6324555320336759), (3231, 0.6324555320336759), (3555, 0.6324555320336759), (5039, 0.6324555320336759), (6908, 0.6324555320336759), (8327, 0.6324555320336759)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
5471,Maui,Kokua Games,152,177,"100,000 .. 200,000",16.0,31.0,0.0,English,"Action, Adventure, Casual, Free to Play, Indie",the gods have trap your sister prove yourself ...,-25,Free,Yes,200000,action adventure casual free to play indie mau...
8129,One Ping Only,Triconn Games,168,17,"20,000 .. 50,000",0.0,0.0,0.0,English,"Action, Adventure, Casual, Free to Play, Indie",one ping only be an student build action adven...,151,Free,Yes,50000,action adventure casual free to play indie one...

In [96]:
feature_rec("PLAYERUNKNOWN'S BATTLEGROUNDS").head(2)

[(8068, 0.5892556509887895), (1209, 0.5345224838248487), (3103, 0.4999999999999999), (8150, 0.4999999999999999), (6583, 0.49029033784546006), (2848, 0.472455591261534), (1099, 0.4714045207910316), (1711, 0.4714045207910316), (2555, 0.4714045207910316), (5049, 0.4714045207910316)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
8068,RUSSIA BATTLEGROUNDS,Agafonoff,789,299,"100,000 .. 200,000",0.0,0.0,0.99,"English, French, Italian, German, Spanish - Sp...","Action, Adventure, Indie, Massively Multiplaye...",russia battlegrounds be a multiplayer battle r...,490,Paid,Yes,200000,action adventure indie massively multiplayer r...
1209,DayZ,Bohemia Interactive,118435,77169,"2,000,000 .. 5,000,000",7235.0,2798.0,44.99,"English, French, Italian, German, Spanish - Sp...","Action, Adventure, Massively Multiplayer",the post soviet country of chernarus be strike...,41266,Paid,Yes,5000000,action adventure massively multiplayer dayz bo...

In [97]:
feature_rec('Warframe').head(2)

[(428, 0.5477225575051662), (752, 0.5477225575051662), (3360, 0.5477225575051662), (8522, 0.5477225575051662), (1007, 0.545544725589981), (2886, 0.5163977794943223), (19, 0.5000000000000001), (22, 0.5000000000000001), (362, 0.5000000000000001), (678, 0.5000000000000001)]

,name,developer,positive,negative,owners,average_playtime,median_playtime,price,languages,genre,detailed_description,Ratings,Is_Free,English,download,feature
428,Dark Sector,Digital Extremes,337,96,"50,000 .. 100,000",0.0,0.0,9.99,"English, French",Action,dark sector thrust players into the role of ha...,241,Paid,Yes,100000,action dark sector digital extremes
752,The Darkness II,Digital Extremes,11992,1234,"1,000,000 .. 2,000,000",191.0,214.0,5.99,"English, French, German, Italian, Japanese, Sp...",Action,inspire by the popular comic book series produ...,10758,Paid,Yes,2000000,action the darkness ii digital extremes

## Evaluation Metrics

To evaluate the recommender system:

1. Compare NMI/similarity scores between recommendations.
2. To conduct survey of 30 person to rate (1-5) 5 recommendations with picture and description between 2 recommenders, then compare RMSE.

In [ ]:
np.arrays_equal(tfidf_matrix[1673].todense(), tfidf_matrix[4405].todense())

AttributeError: ignored

In [ ]:
x = np.array(tfidf_matrix[1673])

In [ ]:
y = np.array(tfidf_matrix[4405])

In [ ]:
x!= y

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  """Entry point for launching an IPython kernel.

True

In [ ]:
from sklearn.metrics.cluster import normalized_mutual_info_score
normalized_mutual_info_score(x, y)

AttributeError: ignored

In [ ]:
tfidf_tokens = tfidf.get_feature_names_out()
df_tfidfvect = pd.DataFrame(data = tfidf_matrix.toarray(),index = [df.loc[851,'name'],df.loc[2303,'name']],columns = tfidf_tokens)
print("\nTD-IDF Vectorizer\n")
print(df_tfidfvect)

ValueError: ignored